html body {
    padding: 0;
    margin: 0;
}

body {
    background: #040A0A;
    height: 100vh;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 15;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.03em;
}

body h2 {
    position: relative;
    left: 165px;
    z-index: 2;
    width: 700px;
    height: 121px;
    color: #FFFFFF;
    font-family: Cormorant;
    font-size: 100px;
    font-weight: 400;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

body h3 {
    width: 136px;
    height: 21px;
    color: #43FFD2;
    padding: 0px;
    margin: 00px;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 10px;




}


.flower {
    height: 1344px;
    width: 1440;
    position: relative;
    z-index: auto;
    background: url("./img/hands.png") no-repeat;
    /* градиент */
    padding: 0;
    margin: 0;
}

.green-cloud {
    position: absolute;
    z-index: 1;
    width: 358.9px;
    height: 293.05px;
    left: 0px;
    top: 542px;

    background: #43FFD2;
    filter: blur(73px);
    transform: rotate(32.83deg);
}

.purple-cloud {
    position: absolute;
    z-index: 1;
    width: 472.65px;
    height: 211.05px;
    left: 888px;
    top: 453px;
    background: #7D2253;
    filter: blur(75px);
    transform: rotate(32.83deg);
}



.flower h1 {
    font-family: Cormorant;
    font-size: 200px;
    font-weight: 300;
    line-height: 242px;
    letter-spacing: 0.2em;
    text-align: center;
    color: white;
}

.flower h2 {
    font-family: Cormorant;
    font-size: 200px;
    font-weight: 300;
    line-height: 242px;
    letter-spacing: 0.2em;
    text-align: center;
    color: white;
    position: relative;
    z-index: 3;
    margin: 0;
}

.img_container {
    padding: 0px;
    margin: 0px;
}

.flower_img {
    background: url("./img/flower.png") center no-repeat;
    background-size: cover;
    height: 975px;
    width: 1440px;
    position: absolute;
    z-index: 2;
    top: 0%;
    pointer-events: none;
    padding: 0px;
    margin: 0px;
}


h1 {
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    gap: 50px;
    align-items: center;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: left;
    margin: 0%;
    margin-left: 175px;
    padding: 0px;
    position: relative;
    z-index: 3;


}

.menu a {
    text-decoration: none;
    color: #FFFFFF;

}

.creat {
    position: relative;
    z-index: 2;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    top: 122px;

}

.button_catalog {
    text-align: center;
    position: relative;
    top: 150px;
}

.button_catalog button {
    position: relative;
    z-index: 2;
    width: 220px;
    height: 50px;
    background: #43FFD2;
}



.contact_bar {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #FFFFFF;
    top: -560px;
    margin-right: 20px;
    gap: 20px;
}



.contact_bar button {
    width: 180px;
    height: 40px;
    top: 570px;
    left: 1095px;
    border-radius: 10px;
    opacity: 0.4;
    position: relative;
}



.contact_bar p {
    padding: 0px;
    margin: 0px;
    font-family: Oswald;
    font-size: 10px;
    line-height: 15px;
}



.zakaz {
    font-family: Oswald;
    font-size: 14px;
    text-align: right;
    color: #43FFD2;
    text-align: right;
}

.media {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.namber {
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #43FFD2;


}

.visa img {
    position: absolute;
    left: 1016px;
    top: 1099.3px;
    transform: rotate(2.74deg);

}



.gradient {
    width: 1440px;
    height: 406px;
    top: 838px;

    background: linear-gradient(180deg, rgba(4, 10, 10, 0) 0%, #040A0A 100%);

}


.catalog {

    padding: 80px 0;

}

.catalog-bg {

    font-size: 200px;
    font-weight: 700;
    line-height: 296px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #0A1717;
    max-width: 100%;
}

.bouquet {
    text-align: right;
    position: absolute;
    width: 719px;
    height: 296px;
    top: 1445px;
    left: 780px;



}

.flower_text {
    text-align: left;
    position: absolute;
    width: 632px;
    height: 296px;
    top: 1829px;
    left: -28px;

}

.dop {
    text-align: right;
    position: absolute;
    width: 1622px;
    height: 200px;
    top: 1883px;
    left: 650px;

}

.catalog-cards {
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 100px;
    width: 100%;
}

.catalog-cards>div {
    padding: 50px 50px;
    box-sizing: border-box;
    text-align: left;
}

h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: left;
    margin: 0;
}

.catalog h3 {
    color: #43FFD2;
}

.catalog ul {
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    margin-left: -20px;
}


.catalog_text {
    position: relative;
    z-index: 3;
    width: 540px;
    transform: translateX(40px);
}

.catalog_flowers {
    width: 540px;
    transform: translateY(-140px);
    transform: translateY();
    border-radius: 20px;
    background: #00000033;
    position: relative;
    z-index: 3;


}

.catalog_ready {
    width: 445px;
    transform: translateX(-60px);
    border-radius: 20px;
    background: #00000033;
    position: relative;
    z-index: 3;
}


.catalog_dop {
    width: 540px;
    border-radius: 20px;
    transform: translateX(-5px);
    background: #00000033;
    position: relative;
    z-index: 3;
}


.catalog_view a {
    position: relative;
    font-family: Oswald;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #D978AC;
    
    
    
    left: 130px;
}

.green-cloud-two {
    position: absolute;
    z-index: 1;
    width: 879.44px;
    height: 211.05px;
    left: 754px;
    top: 1609px;

    background: #43FFD2;
    filter: blur(73px);
    transform: rotate(32.83deg);
}

.purple-cloud-two {
    position: absolute;
    z-index: 1;
    width: 707.54px;
    height: 236.87px;
    left: 0px;
    top: 1609px;

    background: #7D2253;
    ;
    filter: blur(73px);
    transform: rotate(32.83deg);
}


.love {
    height: auto;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    /*   position: relative;
    z-index: 2;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
     text-align: center; 
    color: #FFFFFF;
    */
}

.pattern {
    position: absolute;
    z-index: -1;
    top: -271px;
    right: 0px;
}

.love h2 {
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.love p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.bouquet-one p {
    margin: 10px;
    line-height: 0px;
    text-align: left;
    font-size: 20px;
}

.action a {
    color: #FFFFFF;
    text-decoration: none;
}

.action {
    text-align: center;
    
    margin-top: 30px;
    background: transparent;
    width: 220px;
    height: 50px;
    border: 0.5px solid #FFFFFF
}

.love_bouquet {
    position: relative;
    top: 1000p;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.bouquet-label {
    background: #D978AC;
    ;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(10px, -14px);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #040A0A;

}

.bouquet-img {
    position: relative;
}

.bouquet-sale {
    position: relative;
}

.bouquet-sales {
    background: #31985A;

    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(10px, -14px);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #040A0A;
}

/* .img_pattern img {
    z-index: 2;
    position: relative;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;


} */

.instruction {
    max-width: 100%;
    height: 845px;
    background: url(./img/flowerleft.png) left no-repeat;
}

.flowerleft {
    position: relative;
}

.steps {
    display: flex;
    max-width: 100%;
    height: 450px;
    justify-content: right;




}

.floating-box {
    width: 270px;
    height: auto;
    margin: 10px;


}

.floating-box p {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: left;
}

.floating-box h3 {
    color: #D978AC;
}

.special {
    margin-bottom: 170px;
}

.special img {

    text-align: center;
    /*   нужно по середине */
}

.special_header {
    display: flex;
    gap: 270px;
    margin-bottom: 13px;
}

.special_text {
    max-width: 255px;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: left;

}

.special_occasion {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.special_text ul {
    padding: 0px;

}

.special_text li {
    margin-bottom: 20.75px;
}


.special_bouquet {
    width: 255px;
    height: 50px;
    top: 4897px;
    left: 260px;
    background: #43FFD2;
    font-size: 12px;


}

.special_pov {
    height: 121px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.question {
    background: url(./img/question_img.png);
    color: #FFFFFF;
    background: rgb(15 34 34);
}

/* .vine_left {} */

.vine_left img {
    position: absolute;
    width: auto;
    height: 1037px;

}

.question h2 {
    margin: 0;
    font-family: Cormorant;
    font-size: 100px;
    font-weight: 400;
    line-height: 121px;
    letter-spacing: 0.02em;
}

.question h2 div:last-child {
    margin-left: 50px;
}

.question__top {
    display: flex;
    justify-content: space-between;
}

.question__descr {
    max-width: 240px;
}

.descr-line {
    padding: 50px 0;
}

.hor-line {
    background: #43FFD2;
    height: 1px;
    width: 100%;
}


.questions__form_container {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 126px;
}

.questions__form_container img {
    width: 373px;
    height: 233px;

}


.question form {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    width: 100%;
    padding: 30px 30px;
    box-sizing: border-box;
    gap: 10px;
}

.question form input {
    padding: 10px;
    width: 445px;
    height: 60px;
    border: 1px solid #43FFD2;
    background: transparent;
}

.input_submit {
    width: 255px;
    height: 50px;
    top: 5637px;
    left: 830px;
    background: #43FFD2;
}

.questions__form_container p {
    margin: 0;
    width: 342px;
    height: 24px;
    font-family: Roboto Condensed;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.02em;
    text-align: left;
}

.questions__form_container a {
    color: #D978AC;
}


.instagram {
    text-align: left;
    max-width: auto;
    top: 1605px;
    left: -28px;
}

.flower_instagram {
    position: absolute;
    top: 5751px;
    z-index: -1;
}

.instagram_box {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 145px;

}

.our {
    margin-top: -86px;
}

.our_buttom {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-top: 50px;
    margin-right: -50px;
}

.flower_instagram {
    font-size: 200px;
    font-weight: 700;
    line-height: 296px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #0A1717;
    max-width: 100%;

}

footer {
    background: #000000;
    width: 1440px;
    height: 337px;
    display: flex;
    gap: 70px;
    
    justify-content: center;
    padding: 20px;

}

.requisites p {
    color: #FFFFFF;
    width: 244px;
    height: auto;
    padding: 0px;
    margin: 0px;
    
}

.footer_catalog p {
    color: #FFFFFF;

}

.footer_catalog a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_bouquet p {
    color: #FFFFFF;
}

.footer_bouquet a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_menu a {
    text-decoration: none;
    color: #43FFD2;
    line-height: 50px;
    padding-top: 0px;

}
