html body {
    padding: 0;
    margin: 0;
}

body {
    background: #040A0A;
    height: 100vh;

}

.flower {
    height: 1344px;
    width: 1440;
    position: relative;
    z-index: auto;
    background: url("./img/hands.png") no-repeat;
    /* градиент */
    padding: 0;
    margin: 0;
}

.green-cloud {
    position: absolute;
    z-index: 1;
    width: 358.9px;
    height: 293.05px;
    left: 0px;
    top: 542px;

    background: #43FFD2;
    filter: blur(73px);
    transform: rotate(32.83deg);
}

.purple-cloud {
    position: absolute;
    z-index: 1;
    width: 472.65px;
    height: 211.05px;
    left: 888px;
    top: 453px;
    background: #7D2253;
    filter: blur(75px);
    transform: rotate(32.83deg);
}



.flower h1 {
    font-family: Cormorant;
    font-size: 200px;
    font-weight: 300;
    line-height: 242px;
    letter-spacing: 0.2em;
    text-align: center;
    color: white;
}

.flower h2 {
    font-family: Cormorant;
    font-size: 200px;
    font-weight: 300;
    line-height: 242px;
    letter-spacing: 0.2em;
    text-align: center;
    color: white;
    position: relative;
    z-index: 3;
    margin: 0;
}

.img_container {
    padding: 0px;
    margin: 0px;
}

.flower_img {
    background: url("./img/flower.png") center no-repeat;
    background-size: cover;
    height: 975px;
    width: 1440px;
    position: absolute;
    z-index: 2;
    top: 0%;
    pointer-events: none;
    padding: 0px;
    margin: 0px;
}


h1 {
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    gap: 50px;
    align-items: center;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: left;
    margin: 0%;
    margin-left: 175px;
    padding: 0px;


}

.menu a {
    text-decoration: none;
    color: #FFFFFF;

}

.creat {
    position: relative;
    z-index: 2;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;

}

.button_catalog {
    text-align: center;
}

.button_catalog button {
    position: relative;
    z-index: 2;
    width: 220px;
    height: 50px;
    background: #43FFD2;
}



.contact_bar {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #FFFFFF;
    top: -677px;
    margin-right: 20px;
    gap: 20px;
}



.contact_bar button {
    width: 180px;
    height: 40px;
    top: 570px;
    left: 1095px;
    border-radius: 10px;
    opacity: 0.4;
    position: relative;
}



.contact_bar p {
    padding: 0px;
    margin: 0px;
    font-family: Oswald;
    font-size: 10px;
    line-height: 15px;
}



.zakaz {
    font-family: Oswald;
    font-size: 14px;
    text-align: right;
    color: #43FFD2;
    text-align: right;
}

.media {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.namber {
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: right;
    color: #43FFD2;


}

.visa img {
    position: absolute;
    left: 1016px;
    top: 1099.3px;
    transform: rotate(2.74deg);

}



.gradient {
    width: 1440px;
    height: 406px;
    top: 838px;

    background: linear-gradient(180deg, rgba(4, 10, 10, 0) 0%, #040A0A 100%);

}

nav h2 {
    position: relative;
    left: 165px;
    z-index: 2;
    width: 700px;
    height: 121px;
    color: #FFFFFF;
    font-family: Cormorant;
    font-size: 100px;
    font-weight: 400;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

nav p {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 40px;

}

.catalog {
    font-family: Oswald;
    font-size: 200px;
    font-weight: 700;
    line-height: 296px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #0A1717;
    max-width: 100%;
    height: 900px;

}

.catalog_text {
    position: absolute;
    z-index: 3;
    width: 540px;
    height: 78px;

    font-family: Oswald;
    font-size: 20px;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    padding: 0px;
    top: 1475px;
    left: 260px;
}

.Catalog_flowers {
    width: 540px;
    height: 310px;
    top: 1694px;
    left: 165px;
    border-radius: 20px;
    background: #00000033;
    position: absolute;
    top: 1740px;
    left: 163px;
    z-index: 3;


}

.Catalog_flowers h1 {
    font-family: Oswald;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #43FFD2;
    margin: 0;
    padding-left: 50px;


}

.Catalog_flowers ul {
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    padding-left: 50px;
}

.ready {
    width: 445px;
    height: 281px;
    top: 1475px;
    left: 830px;
    border-radius: 20px;
    background: #00000033;
    position: absolute;
    top: 1507px;
    left: 830px;
    z-index: 3;
}

.ready h1 {
    font-family: Oswald;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #43FFD2;
    margin: 0;
    padding-left: 50px;
}

.ready ul {
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    padding-left: 50px;
}

.catalog_dop {
    width: 540px;
    height: 264px;
    top: 1475px;
    left: 830px;
    border-radius: 20px;
    background: #00000033;
    position: absolute;
    top: 1822px;
    left: 738px;
    z-index: 3;
}

.catalog_dop h1 {
    font-family: Oswald;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #43FFD2;
    margin: 0;
    padding-left: 50px;
}

.catalog_dop ul {
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    padding-left: 50px;
}

.catalog_view a {
    position: absolute;
    font-family: Oswald;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #D978AC;
    justify-content: right;
    align-items: right;
}

.green-cloud-two {
    position: absolute;
    z-index: 1;
    width: 879.44px;
    height: 211.05px;
    left: 754px;
    top: 1609px;

    background: #43FFD2;
    filter: blur(73px);
    transform: rotate(32.83deg);
}

.purple-cloud-two {
    position: absolute;
    z-index: 1;
    width: 707.54px;
    height: 236.87px;
    left: 0px;
    top: 1609px;

    background: #7D2253;
    ;
    filter: blur(73px);
    transform: rotate(32.83deg);
}


.love {
    height: auto;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    /*   position: relative;
    z-index: 2;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
     text-align: center; 
    color: #FFFFFF;
    */
}

.love h2 {
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;


}

.love_bouquet {
    position: relative;
    top: 1000p;
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* .img_pattern img {
    z-index: 2;
    position: relative;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;


} */

.instruction {
    max-width: 100%;
    height: 845px;
    background: url(./img/flowerleft.png) left no-repeat;
}
.flowerleft {
    position: relative;
}

.steps {
    display: flex;
    max-width: 100%;
    height: 450px;
    justify-content: right;
    
    
    
   
}

.floating-box {
    width: 270px;
    height: auto;
    margin: 10px;
    
    
}

.floating-box p {
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
}

.floating-box h1 {
    font-family: Oswald;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #D978AC;

}

.bouquet {
    text-align: right;
    position: absolute;
    width: 719px;
    height: 296px;
    top: 1378px;
    left: 780px;
    z-index: 2;


}

.flower_text {
    text-align: left;
    position: absolute;
    width: 632px;
    height: 296px;
    top: 1605px;
    left: -28px;

}

.dop {
    text-align: right;
    position: absolute;
    width: 1622px;
    height: 200px;
    top: 1883px;
    left: 650px;

}
.special img {
  
    text-align: center; /*   нужно по середине */
}
.special_text {
    max-width: 255px;
    font-family: Oswald;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0.04em;
text-align: left;

}
.special_occasion {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.question {
    background: url(./img/question_img.png);
}
.instagram {
    text-align: left;
    position: absolute;
    width: 632px;
    height: 296px;
    top: 1605px;
    left: -28px;
}
footer {
    background: #000000;
    width: 1440px;
    height: 337px;
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;

}

.requisites p {
    color: #FFFFFF;
    width: 244px;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.footer_catalog p {
    color: #FFFFFF;

}

.footer_catalog a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_bouquet p {
    color: #FFFFFF;
}

.footer_bouquet a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_menu a {
    text-decoration: none;
    color: #43FFD2;
    line-height: 50px;

}