body {
    padding: 0;
    margin: 0;
    background: #040A0A;
    height: 100vh;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 15;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.03em;
}

.flower {
    height: auto;
    max-width: 1440;
    position: relative;
    z-index: auto;
    background: black;
    padding: 0;
    margin: 0;
    position: relative;
z-index: 3;
}

.menu {
    display: flex;
    gap: 50px;
    align-items: center;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: left;
    margin: 0%;
    margin-left: 175px;
    padding: 0px;

    width: 1440px;
    height: 80px;



}

.menu a {
    text-decoration: none;
    color: #FFFFFF;

}

.path {
    position: relative;
    left: 165px;
    z-index: 3;
    margin: 30px;
}
.path a {
    
    color: #FFFFFF;
}

body h1 {
    position: relative;
    left: 250px;
    z-index: 2;
    width: 700px;
    height: 121px;
    color: #FFFFFF;
    font-family: Cormorant;
    font-size: 100px;
    font-weight: 400;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

body h2 {
    font-family: Cormorant;
    font-size: 60px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #43FFD2;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 20px;
}
body h3 {
    width: 136px;
    height: 21px;
    color: #43FFD2;
    padding: 0px;
    margin: 00px;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 10px;




}

body p {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;

}

nav {
    max-width: 1167px;
    height: auto;
    margin-left: 400px;
    z-index: 3;
    position: relative;
}

.youth {
    width: 847px;
    height: 282px;
    position: relative;
    left: 242px;
    background: #00000033;
    display: flex;
    align-items: center;
    padding: 20px;

}

.youth p {
    width: 662px;
    height: auto;


}

.plus ul {
    width: 847px;
    height: 282px;
    position: relative;
    left: 242px;
    align-items: center;
    padding: 20px;

}

.zakaz {
    width: 695px;

}

.buttom_text {
    margin-left: 165px;
    position: relative;
z-index: 3;
}

.nature p {
    width: 1166px;
    height: auto;
    font-size: 60px;
    font-family: Cormorant;
    font-size: 60px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.02em;
    text-align: left;

}

.nature_two p {
    width: 445px;
    height: auto;
    margin-left: 300px;
    margin-bottom: 300px;
}
/* элипсы фон */

.yellow-cloud-one {
    position: absolute;
    background: #C8A156;
    filter: blur(73px);
    transform: rotate(32.83deg);
    width: 293.5px;
    height: 235.2px;
    z-index: 1;
    top: 0px;
    left: 0px;
}
.yellow-cloud-two {
    position: absolute;
    background: #C8A156;
    filter: blur(73px);
    transform: rotate(32.83deg);
    width: 293.5px;
    height: 235.2px;
    z-index: 1;
    top: 578.96px;
    left: 447px;
}

.yellow-cloud-three {
    position: absolute;
    background: #C8A156;
    filter: blur(73px);
    transform: rotate(32.83deg);
    width: 293.5px;
    height: 235.2px;
    z-index: 1;
    top: 358pxpx;
    left: 800px;
}
/* 
.yellow-cloud-four {
    position: absolute;
    background: #C8A156;
    filter: blur(73px);
    transform: rotate(32.83deg);
    width: 293.5px;
    height: 235.2px;
    z-index: 1;
    top: 358pxpx;
    left: 800px;
}

.yellow-cloud-five {
    position: absolute;
    background: #C8A156;
    filter: blur(73px);
    transform: rotate(32.83deg);
    width: 293.5px;
    height: 235.2px;
    z-index: 1;
    top: 358pxpx;
    left: 800px;
} */

/* цветы фон */

.flowers {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.flowers-two {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
}

.flowers-three {
    position: absolute;
    right: 0px;
    top: 1100px;
    z-index: 2;
    
}

footer {
    background: #000000;
    width: 1440px;
    height: 337px;
    display: flex;
    gap: 70px;
    
    justify-content: center;
    padding: 20px;

}

.requisites p {
    color: #FFFFFF;
    width: 244px;
    height: auto;
    padding: 0px;
    margin: 0px;
    
}

.footer_catalog p {
    color: #FFFFFF;

}

.footer_catalog a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_bouquet p {
    color: #FFFFFF;
}

.footer_bouquet a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_menu a {
    text-decoration: none;
    color: #43FFD2;
    line-height: 50px;
    padding-top: 0px;

}

@media screen and (max-width: 1000px) {
.flowers>img {
    display: none;
}
.flowers-two>img {
    display: none;
}
.flowers-three>img {
    display: none;
}
.path {
    position: relative;
    left: 0px;
}
body>h1 {
    position: relative;
    left: 0px;
}
nav {
    position: relative;
    margin-left: 0px;
}
.youth {
    position: relative;
    left: 0px;
    width: 430px;
}
.zakaz h2 {
    width: 40px;
}

.plus>ul {
    position: relative;
    left: 0px;
    width: 445px;
}
.nature {
    display: none;
}
.nature_two {
    display: none;
}

footer {
    display:block;
    flex-flow: column wrap;
    height: auto;
}
}
